div {
    display: block;
}
body {
    background: rgb(192, 98, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
    color: -internal-root-color;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h2 {
    color: black;
    font-size: 17px 13px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    padding: 15px;
  }
  h2:hover {
    color: rgb(247, 247, 247);
    letter-spacing: 2px;
  }
  td {
    cursor: pointer;
    transition: .2s;
  }
  td:hover {
    /* letter-spacing: 2px; */
    background: grey;
  }